datasets/*
!**/.gitkeep
.ipynb_checkpoints
.venv
datasets1
MAPLES-DR/*
EyePACS_2015/*
aptos2019-blindness-detection/*
src/data/Blind_Grading_198
src/xai/explanation/explainer/rise.py
src/Archive
__pycache__
results
test_scripts/adasise_results
test_scripts/igsg_results
test_scripts/XAI_10ex_run/*
!test_scripts/XAI_10ex_run/__init__.py
archive
*.zip
*.npy
*.h5
*.csv       
*.png
*.log
*.pth
src/experiments/QWK_terminal/log.txt
src/**/*.txt
